.transactionHistory {
  margin: 20px auto;
  border-radius: 4px;
  width: 700px;
  border: rgb(0, 0, 0);
  text-transform: capitalize;
}

thead {
  background-color: rgb(0, 0, 0);
}

th {
  padding: 20px 0;
  color: #fff;
  text-transform: uppercase;
}

tbody>tr:nth-child(2n+1) {
  background-color: #fff;
}

tbody>tr:nth-child(2n) {
  background-color: rgb(231, 216, 183);
}

td {
  padding: 10px 0;
  text-align: center;
  color: black;
}